<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LaunchED - Add Course</title>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/white-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/white-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/white-favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/white-favicon/site.webmanifest">

    <!-- Fontawesome -->
    <link type="text/css" href="../../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="../../static/css/neumorphism.css" rel="stylesheet">
</head>

<body>
    <!-- HEADER -->
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a href="/" class="btn btn-primary" style="color:black; font-weight:bold"></i> LaunchED</a>
                <div class="d-flex align-items-center">
                    <a href="../../logout" class="btn btn-primary text-secondary mr-3"><i
                            class="fas fa-sign-out-alt"></i> Log out</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- END OF HEADER -->
    <main>
        <!-- Form Section -->
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <!--ALERT-->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible shadow-soft fade show" role="alert">
                <span class="alert-inner--icon"><span class="far fa-bell"></span></span>
                <span class="alert-inner--text"><strong>{{message}}</strong></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <!--END OF ALERT-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h2 class="mb-0 h5">Create Instructor Account</h2>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Course Name</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-reader mr-2"></span></span>
                                            </div>
                                            <input class="form-control" name="Cname" placeholder="Course Name"
                                                type="text" aria-label="first name">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Course Certifier</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-open"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="Ccertifier"
                                                id="id_certifier">
                                                <option selected="selected">Choose...</option>
                                                {% for ele in certifier %}
                                                <option value="{{ele.id}}">{{ele.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--End of Form-->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Course Description</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="far fa-file-alt"></span></span>
                                            </div>
                                            <input class="form-control" name="Cdesc" placeholder="Description"
                                                type="text" aria-label="first name" rows="3">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class=" fas fa-upload"></i> Publish</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of Form Section-->

        <!--Hero section-->
        <div class="section section-header pb-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">Number of Courses Published: {{user.inst_course}}</h1>
                    </div>
                </div>
            </div>
            <!-- End of Hero section -->

            <!--Main Card-->
            <section class="section section-lg pt-0">
                <div class="container">
                    <div class="row">
                        <div class="card-deck">
                            <!-- Profile Card -->
                            {% for course in courses %}
                                <div class="col-12 col-md-6">
                                    <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                                        <div
                                            class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                                            <img src="../../static/images/course.png"
                                                class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                                                alt="Course Image">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="h5 mb-2">{{ course.name}}</h3>
                                            <ul class="list-unstyled justify-content-center mt-3 mb-4"
                                                style=" padding-left:25%; padding-right:25%">
                                                <li>
                                                    <strong>Instructor:</strong> {{ course.instructor.fname}} {{
                                                    course.instructor.lname}}
                                                </li></strong>
                                                <li>
                                                    <strong>Certifier:</strong> {{course.certifier.name}}
                                                </li>
                                                <li>
                                                    <strong>Publish Date:</strong> {{course.publish_date}}
                                                </li>
                                                <li>
                                                    <strong>Description:</strong> {{course.description}}
                                                </li>
                                            </ul>
                                            <a href="/profile/createCourse/{{ course.id }}/"
                                                class="btn btn-primary text-secondary mr-3"><i class="fas fa-trash"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                            <!-- End of Profile Card -->
                        </div>
                    </div>
                </div>
            </section>
            <!--End of Main Card-->
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="col-md-12">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="/">
                                <span class="icon-success">
                                    <span class="fas fa-tachometer-alt mr-2"></span>About Us</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="../../contactUs">
                                <span class="icon-success">
                                    <span class="fas fa-headphones"></span> Contact Us</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="../../termsOfUse">
                                <span class="icon-success">
                                    <span class="fas fa-book-open"></span> Terms And Conditions</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">made with ♥ by Mohammed Sanaullah and Tanmayi D.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- Core -->
    <script src="../../static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="../../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="../../static/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="../../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../../static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="../../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="../../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="../../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../static/vendor/prismjs/prism.js"></script>

    <!-- Neumorphism JS -->
    <script src="../../static/assets/js/neumorphism.js"></script>
</body>




</html>