<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>LaunchED - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Neumorphism UI - About us">
    <meta name="author" content="Themesberg">

    <link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

    <!--  Social tags -->
    <meta name="keywords"
        content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
    <meta name="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Neumorphism UI by Themesberg">
    <meta itemprop="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta itemprop="image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@themesberg">
    <meta name="twitter:title" content="Neumorphism UI by Themesberg">
    <meta name="twitter:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta name="twitter:creator" content="@themesberg">
    <meta name="twitter:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="214738555737136">
    <meta property="og:title" content="Neumorphism UI by Themesberg" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/" />
    <meta property="og:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg" />
    <meta property="og:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages." />
    <meta property="og:site_name" content="Themesberg" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="static/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a href="/" class="btn btn-primary" style="color:black; font-weight:bold"></i> LaunchED</a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="static/index.html"
                                    class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <img src="static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-flex align-items-center">
                    <a href="login" class="btn btn-primary text-secondary mr-3"><i class="far fa-user"></i>
                        Sign in</a>
                    <a href="registerStudent" class="btn btn-primary text-secondary mr-3"><i
                            class="fas fa-user-astronaut"></i> Student Sign up</a>
                    <a href="registerInstructor" class="btn btn-primary text-secondary mr-3"><i
                            class="far fa-paper-plane mr-2"></i> Instructor Sign up</a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        {% if user.is_authenticated %}
                        <h1>Successfully Logged In</h1>
                        {%endif%}
                        <h1 class="display-2 mb-4">We are LaunchED</h1>
                        <p class="lead mb-5">LaunchED is an educational platform. Instructors can create a course and
                            students
                            can enroll in those courses. </p>
                    </div>
                </div>
            </div>
            <!-- End of Hero section -->
            <section class="section section-lg pt-0">
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <h2 class="h1">Explore</h2>
                    </div>
                    <center>
                        <div class="row">
                                <div id="instructor" onclick="clickHandler('instructor')"
                                    class="col-12 col-md-6 col-lg-4">
                                    <!-- Profile Card -->
                                    <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                                        <div
                                            class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                                            <img src="static/assets/img/team/profile-picture-1.jpg"
                                                class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                                                alt="Neil Avatar">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="h5 mb-2">Instructor</h3>

                                        </div>
                                    </div>
                                    <!-- End of Profile Card -->
                                </div>
                            <div id="sample" onclick="clickHandler('sample')" class="col-12 col-md-6 col-lg-4">
                                <!-- Profile Card -->
                                <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                                    <div
                                        class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                                        <img src="static/assets/img/team/profile-picture-3.jpg"
                                            class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                                            alt="Bonnie Avatar">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="h5 mb-2">Sample Certificate</h3>
                                    </div>
                                </div>
                                <!-- End of Profile Card -->
                            </div>
                            <div id="course" onclick="clickHandler('course')" class="col-12 col-md-6 col-lg-4">
                                <!-- Profile Card -->
                                <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                                    <div
                                        class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                                        <img src="static/assets/img/team/profile-picture-2.jpg"
                                            class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                                            alt="Christopher avatar">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="h5 mb-2">Courses</h3>
                                    </div>
                                </div>
                                <!-- End of Profile Card -->
                            </div>
                    </center>
                </div>
        </div>
        </section>


        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="row">
                                <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <span class="far fa-eye"></span>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                            Audience
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">At Themesberg, we use human, brand, and cultural insights to
                                            unlock strategic business opportunities for clients.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <span class="fas fa-medal"></span>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                            Branding
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">Despite being cautioned not to judge a book by its cover, we all
                                            do it every day. We making your site looks better.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 px-md-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <span class="fas fa-puzzle-piece"></span>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                            Production
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">Today, truly creative sells. Get innovative ideas and polished
                                            finish pieces from our creative agency.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                            <img class="organic-radius img-fluid" src="static/assets/img/about-us-1.jpg"
                                alt="modern desk">
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-4">Design with us, Develop Anything.</h2>
                        <p class="lead">Themesberg is an experienced and passionate group of designers, developers,
                            project managers, writers and artists. Every client we work with becomes a part of the team.
                            Together we face the challenges and celebrate the victories.</p>
                        <p class="lead">Our small team is active in the creative community, endlessly interested in
                            what’s next, and generally pleasant to be around.</p>
                        <img src="static/assets/img/signature.svg" alt="signature" class="mt-4" width="150">
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-4 text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                                <span class="far fa-smile-beam"></span>
                            </div>
                            <h3 class="h5">Team Members</h3>
                            <span class="counter display-3 text-gray d-block">500</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4 text-center">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                                <span class="far fa-eye"></span>
                            </div>
                            <h3 class="h5">Projects Published</h3>
                            <span class="counter display-3 text-gray d-block">2400</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4 text-center">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                                <span class="fas fa-globe-europe"></span>
                            </div>
                            <h3 class="h5">Countries</h3>
                            <span class="counter display-3 text-gray d-block">80</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

    <!--footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p><strong>Neumorphism UI PRO</strong> is a premium Bootstrap UI Kit built based on the newest
                        design trend called Neumorphism.</p>
                </div>
                <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                    <h5>LaunchED</h5>
                    <ul class="footer-links list-unstyled mt-2">
                        <li class="mb-1"><a class="p-2" href="/">About Us</a></li>
                        <li><a class="p-2" href="contactUs">Contact Us</a></li>
                        <li class="mb-1"><a class="p-2" href="termsOfUse">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                    <h5>Subscribe</h5>
                    <p class="text-gray font-small mt-2">Join our mailing list. We write rarely, but only the best
                        content.</p>
                    <form action="#">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <label class="h6 font-weight-normal d-none" for="exampleInputEmail3">Email
                                    address</label>
                                <input type="email" class="form-control mb-2" placeholder="example@company.com"
                                    name="email" aria-label="Subscribe form" id="exampleInputEmail3" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block" data-loading-text="Sending">
                                    <span>Subscribe</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-gray font-small m-0">We’ll never share your details. See our <a class="text-black"
                            href="#">Privacy Policy</a></p>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">made with ♥ by Mohammed Sanaullah and Tanmayi D.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer-->

    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="nav-wrapper position-relative mb-4">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icon-text" role="tablist">
                            <li class="nav-item">
                                <a href="/" class="btn btn-primary"><i class="fas fa-tachometer-alt mr-2"></i>
                                    About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="../contactUs" class="btn btn-primary"><i class="fas fa-headphones"></i>
                                    Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="../termsOfUse" class="btn btn-primary"><i class="fas fa-book-open"></i>
                                    Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">made with ♥ by Mohammed Sanaullah and Tanmayi D.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Core -->
    <script src="static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="static/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="static/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="static/vendor/prismjs/prism.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Neumorphism JS -->
    <script src="static/assets/js/neumorphism.js"></script>
</body>
<script>
    function clickHandler(x) {
        if (x == "instructor") window.location = "http://localhost:8000/instructors/"
        else if (x == "course") window.location = "http://localhost:8000/courses/"
        else window.location = "http://localhost:8000/sampleCertificate/"
    }
</script>

</html>