<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .fa-calendar-alt:before {
        content: "\f073";
    }
</style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>LaunchED - Update Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Neumorphism UI - Sign up">
    <meta name="author" content="Themesberg">

    <link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

    <!--  Social tags -->
    <meta name="keywords"
        content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
    <meta name="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Neumorphism UI by Themesberg">
    <meta itemprop="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta itemprop="image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@themesberg">
    <meta name="twitter:title" content="Neumorphism UI by Themesberg">
    <meta name="twitter:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta name="twitter:creator" content="@themesberg">
    <meta name="twitter:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="214738555737136">
    <meta property="og:title" content="Neumorphism UI by Themesberg" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/" />
    <meta property="og:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg" />
    <meta property="og:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages." />
    <meta property="og:site_name" content="Themesberg" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="../../assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="../../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="../../static/css/neumorphism.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>

    <!-- HEADER -->
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a href="/" class="btn btn-primary" style="color:black; font-weight:bold"></i> LaunchED</a>
                <div class="d-flex align-items-center">
                    <a href="../logout" class="btn btn-primary text-secondary mr-3"><i class="far fa-user"></i>
                        Sign out</a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </div>
            </div>
        </nav>
    </header>
    <!-- END OF HEADER -->

    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">Update your Profile</h1>
                    </div>
                </div>
            </div>
            <!-- End of Hero section -->
        <!-- Section -->
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">First Name</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-user-circle mr-2"></span></span>
                                            </div>
                                            <input class="form-control" name="fname" placeholder="First Name"
                                                type="text" aria-label="first name">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Last Name</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-user-circle mr-2"></span></span>
                                            </div>
                                            <input class="form-control" name="lname" placeholder="Last Name" type="text"
                                                aria-label="last name">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Your email</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-envelope"></span></span>
                                            </div>
                                            <input class="form-control" name="email" placeholder="example@company.com"
                                                type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputDate1">Date of Birth</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-calendar-alt"></span></span>
                                            </div>
                                            <input name="DOB" placeholder="Select date" type="date"
                                                aria-label="Date with icon left">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {% if user.is_student %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Year of Study</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-open"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="qualification">
                                                <option selected="selected">Choose...</option>
                                                <option value="FR">Freshman</option>
                                                <option value="SO">Sophomore</option>
                                                <option value="JR">Junior</option>
                                                <option value="SR">Senior</option>
                                                <option value="GR">Graduate</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {% else %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Qualification</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-open"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="qualification"
                                                id="id_quallification">
                                                <option selected="selected">Choose...</option>
                                                <option value="TA">Teaching Assistant</option>
                                                <option value="RA">Research Assistant</option>
                                                <option value="AP">Assistant Professor</option>
                                                <option value="SP">Senior Professor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {%endif%}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Sex</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="far fa-user"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="sex">
                                                <option selected="selected">Choose...</option>
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label" for="defaultCheck6">
                                            I agree to the <a href="../termsOfUse">terms and conditions</a>
                                        </label>
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Update </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="nav-wrapper position-relative mb-4">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icon-text" role="tablist">
                            <li class="nav-item">
                                <a href="../" class="btn btn-primary"><i class="fas fa-tachometer-alt mr-2"></i>
                                    About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../contactUs" class="btn btn-primary"><i class="fas fa-headphones"></i>
                                    Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../termsOfUse" class="btn btn-primary"><i class="fas fa-book-open"></i>
                                    Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">made with ♥ by Mohammed Sanaullah and Tanmayi
                            D.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- Core -->
    <script src="../../static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="../../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="../../static/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="../../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../../static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="../../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="../../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="../../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../static/vendor/prismjs/prism.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Neumorphism JS -->
    <script src="../../static/assets/js/neumorphism.js"></script>
</body>

</html>