<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .fa-calendar-alt:before {
        content: "\f073";
    }
</style>

<head>
    <title>LaunchED - Update Profile</title>
    
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/white-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/white-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/white-favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/white-favicon/site.webmanifest">

    <!-- Fontawesome -->
    <link type="text/css" href="../../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="../../static/css/neumorphism.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>

    <!-- HEADER -->
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a href="/" class="btn btn-primary" style="color:black; font-weight:bold"></i> LaunchED</a>
                <div class="d-flex align-items-center">
                    <a href="../../logout" class="btn btn-primary text-secondary mr-3"><i class="fas fa-sign-out-alt"></i>
                        Sign out</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- END OF HEADER -->

    

    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">

            <!--ALERT-->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible shadow-soft fade show" role="alert">
                <span class="alert-inner--icon"><span class="far fa-bell"></span></span>
                <span class="alert-inner--text"><strong>{{message}}</strong></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {%  endfor %}
            {% endif %}
            <!--END OF ALERT-->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4"><i class="fas fa-pen-alt"></i> Update your Profile</h1>
                    </div>
                </div>
            </div>
            <!-- End of Hero section -->
        <!-- Section -->
        <section class="min-vh-100 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">First Name</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-user-circle mr-2"></span></span>
                                            </div>
                                            <input class="form-control" name="fname" placeholder="First Name"
                                                type="text" aria-label="first name">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Last Name</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-user-circle mr-2"></span></span>
                                            </div>
                                            <input class="form-control" name="lname" placeholder="Last Name" type="text"
                                                aria-label="last name">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon4">Your email</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-envelope"></span></span>
                                            </div>
                                            <input class="form-control" name="email" placeholder="example@company.com"
                                                type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputDate1">Date of Birth</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-calendar-alt"></span></span>
                                            </div>
                                            <input class="form-control datepicker" name="DOB" placeholder="Select date" type="text"
                                                aria-label="Date with icon left">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {% if user.is_student %}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Year of Study</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-open"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="qualification">
                                                <option selected="selected">Choose...</option>
                                                <option value="FR">Freshman</option>
                                                <option value="SO">Sophomore</option>
                                                <option value="JR">Junior</option>
                                                <option value="SR">Senior</option>
                                                <option value="GR">Graduate</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {% else %}
                                    <!-- Form -->

                                    <div class="form-group">
                                        <label for="exampleInputIcon4">About You</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="far fa-file-alt"></span></span>
                                            </div>
                                            <textarea type="text" class="form-control" placeholder="Description" 
                                                name="About" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                      <!--End of FOrm-->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Qualification</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span
                                                        class="fas fa-book-open"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="qualification"
                                                id="id_quallification">
                                                <option selected="selected">Choose...</option>
                                                <option value="TA">Teaching Assistant</option>
                                                <option value="RA">Research Assistant</option>
                                                <option value="AP">Assistant Professor</option>
                                                <option value="SP">Senior Professor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    {%endif%}
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="inlineFormCustomSelectPref">Sex</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-user"></span></span>
                                            </div>
                                            <select class="custom-select my-1 mr-sm-2" name="sex">
                                                <option selected="selected">Choose...</option>
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label" for="defaultCheck6">
                                            I agree to the <a href="../termsOfUse">terms and conditions</a>
                                        </label>
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-pen-alt"></i> Update </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="col-md-12">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="../">
                            <span class="icon-success">
                                <span class="fas fa-tachometer-alt mr-2"></span>About Us</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="../../contactUs">
                            <span class="icon-success">
                                <span class="fas fa-headphones"></span> Contact Us</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" href="../../termsOfUse">
                            <span class="icon-success">
                                <span class="fas fa-book-open"></span> Terms And Conditions</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">made with ♥ by Mohammed Sanaullah and Tanmayi D.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- Core -->
    <script src="../../static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../static/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="../../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="../../static/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="../../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../../static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="../../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="../../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="../../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../static/vendor/prismjs/prism.js"></script>

    <!-- Neumorphism JS -->
    <script src="../../static/assets/js/neumorphism.js"></script>
</body>

</html>